
.bodyTop {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.bodyTopLeft a {
   margin:20px ;
   color: white;
   text-decoration: none;
}

.bodyTopRight a {
    margin-right:30px ;
    color: white;
    text-decoration: none;
}